/*Selector de ID*/
#destacado {
    color: blue;
}

/*Selector de Clase*/
.subtitulo {
    color: green;
}

/*Selector de Etiqueta*/
p {
    color: red;
}

.articulo h2 {
    color: purple;
}

.articulo p {
    color: brown;
}